<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
    <!-- We set parameters for our Test -->
    <parameter name="hostUrl" value="https://demoqa.com/login"/>
    <parameter name="username" value="upstream"/>
    <parameter name="password" value="Asd123!."/>
    <parameter name="errorText" value="Invalid username or password!"/>

    <test name="Login with valid credentials">
        <classes>
            <class name="tests.TestValidLogin"/>
        </classes>
    </test>

    <test name="Login with invalid username">
        <classes>
            <class name="tests.TestInvalidUsername"/>
        </classes>
    </test>

    <test name="Login with invalid password">
        <classes>
            <class name="tests.TestInvalidPassword"/>
        </classes>
    </test>

</suite>